################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/actual/FileContentIndex/0fd5eda6-c5cb-4594-9b1b-c0a269a495db.vsidx
/.vs/actual/FileContentIndex
