body {
    background-color: indianred !important;
    font-size: 30px;
    font-family: Pixelify Sans;
    font-weight: 500;
}
/*Navigation/heading bars*/
.topnav {
    background-color: pink;
    overflow: hidden;
    margin-bottom: 20px;
}
/* Footer */
.footer {
    position: relative !important;
    left: 0;
    bottom: 0 !important;
    width: 100% !important;
    background-color: red;
    height: auto !important;
    color: white;
    padding: 0px !important;
    text-align: center;
    margin-bottom: 0px !important;
}
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 32px;
        font-family: VT323;
        font-weight: 500;
    }

        .topnav a:hover {
            background-color: pink;
            color: none;
        }

        .topnav a.active {
            color: darkred;
            font-size: 32px;
        }

    .topnav .icon {
        display: none;
    }
.find {
    position: absolute;
    font-size: 35px;
    background-color: pink;
    border-radius: 10px;
    top: -110px;
    left: 0px;
}

.status {
    font-size: 25px;
    color: crimson;
}

li{
    list-style-type: none;
}

.container {
    column-gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: pink;
    margin: 0px auto 50px auto;
    width: 100%;
    border-radius: 10px;
    padding: 0;
    text-align: left;
    color: black;
    border: 2px solid darkred;

}

img {
    height:100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius:10px;
}

text {
    font-size: 22px;
    width:100%;

}

.details {
    background-color: crimson;
    color: white;
    text-align: center;
    border-radius: 10px;
}

a:hover, a:active {
    background-color: red;
}

.event_wrapper{
     background-color: pink;
     margin-top:20px;
     padding-left:10px;
     border: none;
     text-align: left;
     width:100%;
     color:darkred;
}

@media (min-width:768px) {
    .container {
        flex-direction: row;
    }

    .image, .text, .event_wrapper {
        width: 33.3333%;
    }
}

.main_container{
    width:65%;
    display: grid;
    margin-left:auto;
    margin-right:auto;

}