body {
    background-color: indianred !important;
    font-size: 30px;
    font-family: Pixelify Sans;
    font-weight: 500;
}
/*Navigation/heading bars*/
.topnav {
    background-color: pink;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 32px;
        font-family: pixelify sans;
        font-weight: 500;
    }

        .topnav a:hover {
            background-color: pink;
            color: none;
        }

        .topnav a.active {
            color: darkred;
            font-size: 32px;
        }

    .topnav .icon {
        display: none;
    }

.container {
    column-gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: pink;
    margin: 0px auto 50px auto;
    width: 100%;
    border-radius: 10px;
    padding: 0;
    text-align: left;
    color: black;
    border: 2px solid darkred;
    font-family: pixelify sans;

}

img {
    height:100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius:10px;
}

text {
    font-size: 22px;
    width:100%;

}

.order {
    color:darkred;
}

@media (min-width:768px) {
    .container {
        flex-direction: row;
    }

    .image, .text, .event_wrapper {
        width: 33.3333%;
    }
}

.title{
    font-size: 40px; 
    text-decoration: underline; 
    text-align: center;
    color:white;
    margin-bottom:25px;
    font-family: pixelify sans;
}

p{
    font-size: 22px;
}

h3{
    text-align: center;
    font-family: pixelify sans;
}

h5{
    color: red !important;
}

.order_title{
    color: black; 
    text-decoration: underline;
}

.modal-header {
    background-color: darkred;
    color: white;
}

.modal-footer .btn {
    border-radius: 10px;
}