body {
    background-color: indianred !important;
    font-size: 30px;
    font-family: Pixelify Sans;
    font-weight: 500;
}
ul {
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    break-after: auto;
    height: 500px;
    overflow-y: auto;
}

.topnav .icon {
    display: none !important;
}

@media screen and (max-width:1700px) {
    .topnav a:not(:first-child) {
        display: none !important;
    }

    .topnav a.icon {
        float: right !important;
        display: block !important;
    }
}

@media screen and (max-width: 1700px) {
    .topnav.responsive {
        position: relative !important;
    }

    .topnav.respnsive .icon {
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
    }

    .topnav.responsive a {
        float: none !important;
        display: block !important;
        text-align: left !important;
    }
}

.event_text_box {
    background-color: pink;
    color: black;
    font-size: 22px;
    border-radius: 10px 10px;
    margin-left: 100px;
    font-family: Pixelify Sans;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: darkred;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: salmon;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

    ul li {
        margin-bottom: 10px;
    }

.topnav {
    background-color: pink;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 32px;
        font-family: pixelify sans;
        font-weight: 500;
    }

        .topnav a:hover {
            background-color: pink;
            color: none;
        }

        .topnav a.active {
            color: darkred;
            font-size: 32px;
        }

    .topnav .icon {
        display: none;
    }

.container-fluid {
    background-color: pink;
    border-radius: 10px;
    height: auto;
    padding-bottom: 25px;
    margin-bottom: 0px;
    font-family: Pixelify Sans;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: Pixelify Sans;
}

h1{
    color: darkred !important; 
    text-decoration: underline;
}

h2{
    font-family: azeret mono;
    color: darkred !important;
    text-decoration: underline !important;
}

h3{
    font-family: azeret mono;
    font-size: 20px !important;
}

p{
    font-family: azeret mono;
    font-size: 20px;
}

input[type=submit] {
    background-color: darkred;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: Pixelify Sans;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
    
}

.user {
    color: darkred;
    font-weight: 700;
    font-family: Pixelify Sans;
}


.event_booking {
    width: 100%;
}

.comment_box {
    overflow: visible;
    margin-left: 10px;
}

.disabled-button {
    text-align:center; 
    font-size:40px; 
    border-radius:10px;
}

.enabled-button {
    background-color:darkred; 
    text-align:center;
    color:white; 
    font-size:40px; 
    border-radius:10px;
}

.modal-header {
    background-color: darkred;
    color: white;
}

.modal-footer .btn {
    border-radius: 10px;
}

