{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error_handling_style.css') }}" />
{% endblock head %}

{% block content %}
<div class="container" style="height:750px";>
    <div class="row">
        <div class="col-6">
            <h1>404 Not Found</h1>
            <p>Something went wrong!</p>
            <p>The page you requested could not be found</p>
        </div>
    </div>
</div>

{% endblock %}