{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/error_handling_style.css') }}" />
{% endblock head %}

{% block content %}

<div class="container" style="height:750px">
    <div class="row">
        <div class="col-6">
            <h1>500 Internal Server Error</h1>
            <p>Oops! Something went wrong on our server.</p>
            <p>We're sorry for the inconvenience.</p>
            <p>Please try again later or contact support if the problem persists.</p>
        </div>
    </div>
</div>

{% endblock %}
