{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="IE=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/booking_style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <title>Event Booking</title>
</head>
<body class="body">
    <!--navbar from w3schools-->
    {% block header %}
    {% endblock %}

    <div class="row" style="margin: 0px 50px 0px 50px;">
        <div class="col-75">
            <div class="container">
                <form action="/action_page.php">

                    <div class="row">
                        <div class="col-50">
                            <h3 style="text-decoration:underline; color:darkred;">Billing Address</h3>
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Clay Harvey">
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="clay.harvey@qut.edu.au">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address" placeholder="123 Fake St">
                            <label for="city"><i class="fa fa-institution"></i> City</label>
                            <input type="text" id="city" name="city" placeholder="Real City">

                            <div class="row">
                                <div class="col-50">
                                    <label for="state">State</label>
                                    <input type="text" id="state" name="state" placeholder="QLD">
                                </div>
                                <div class="col-50">
                                    <label for="zip">Zip</label>
                                    <input type="text" id="zip" name="zip" placeholder="4670">
                                </div>
                            </div>
                        </div>

                        <div class="col-50">
                            <h3 style="text-decoration: underline; color: darkred;">Payment</h3>
                            <label for="fname">Accepted Cards</label>
                            <div class="icon-container">
                                <img src="static/img/paypal.png" class="icon" />
                                <img src="static/img/visa.png" class="icon" />
                                <img src="static/img/google-pay.png" class="icon" />
                                <img src="static/img/direct-debit.png" class="icon" />
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" placeholder="Mr Clay Harvey">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="September">

                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">Exp Year</label>
                                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                                </div>
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>

                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <div href="booked_events.html" class="btn">CONFIRM PAYMENT</div>
                </form>
            </div>
        </div>

        <div class="col-25">
            <div class="container">
                <h3 style="color:darkred; text-decoration:underline;">
                    Tickets
                    <span class="price" style="color:black">
                        <i class="fa fa-shopping-cart"></i>
                        <b>4</b>
                    </span>
                </h3>
                <p><a>Price Each</a> <span class="price" style="color:darkred;">$30.00</span></p>
                <p><a> Quantity: </a> <input type="number" style="width:100px; float:right;" /></p>
                <hr>
                <p>Total <span class="price" style="color:black"><b>$--</b></span></p>
            </div>
        </div>
    </div>

</body>
</html>