{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="IE=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', static/style/filename='event_details_style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <title>Event Details</title>
</head>
<body class="body">
    <!--navbar from w3schools-->
    {% block header %}
    {% endblock %}


    <div style="margin:50px 50px 50px 50px;">
        <div class="container-fluid">
            <h1 style="color:darkred; text-decoration: underline; ">{{"band name"}} performing live!</h1>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="static/img/event_3_169.jpg" style="width:100%; border: 5px solid black; border-radius: 10px" />
                    <div class="container-fluid">
                        <h2 style="color: darkred; text-decoration: underline;">Event Description</h2>
                        <p>
                            Grab a friend, and come along to (RELEVENT BAND NAME)'s biggest show yet!
                            They'll be playing a full hour of their hits, including "Beans Beans and More (Beans)",
                            "Aluminium Cans" and "On Toast, Please". Additionally, (RELEVENT BAND NAME) will be
                            debuting some exciting new work from their upcoming EP, "What it Says on the Can"
                        </p>
                    </div>


                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 style="color: darkred; text-decoration: underline;">DETAILS</h1>
                                <h2 style="color: darkred; text-decoration: underline;">Venue</h2>
                                <p>
                                    Old Cat Tavern (18+ Venue)
                                </p>
                                <h2 style="color: darkred; text-decoration: underline;">Time</h2>
                                <p>
                                    Doors Open @ 6:30pm <br />
                                    Opening Band @ 7:00pm <br />
                                    Main Event @ <br />
                                    7:30pm - 9:00pm
                                </p>
                                <h2 style="color: darkred; text-decoration: underline;">Date</h2>
                                <p>
                                    Thursday 7/06/24
                                </p>
                                <h2 style="color: darkred; text-decoration: underline;">Opening Bands</h2>
                                <p>
                                    Dog Pants Deluxe
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h1 style="color: darkred; text-decoration: underline;">TICKETS</h1>
                                <h2 style="color: darkred; text-decoration: underline;">Availability</h2>
                                <p>
                                    Available!
                                </p>
                                <h2 style="color: darkred; text-decoration: underline;">Price</h2>
                                <p>
                                    $30
                                </p>

                            </div>
                            <a href="booking.html" style="background-color:darkred; text-align:center;
                                    color:white; font-size:40px; border-radius:10px;">BOOK TICKETS HERE!</a>

                        </div>
                    </div>

                </div>

            </div>
            <div class="row" style="margin-bottom:50px;">
                <div class="col-md-6 col-sm-12">
                    <h2 style="color: darkred; text-decoration: underline; overflow:auto;">See What People Are Saying!</h2>
                    <ul>
                        <li>
                            <span class="user">George Parker:</span>
                            Was a fantastic show last year, super underrated band! Can't wait for this one!
                        </li>
                        <li>
                            <span class="user">Mick Balto:</span>
                            Third show is gonna be huge!! Good luck guys I'm sure it'll be awesome, been a huge fan since I heard
                            you play at the park
                        </li>
                        <li>
                            <span class="user">Justine Crayon:</span>
                            AAAHHHH I LOVE YOUUUUUU
                        </li>
                        <li>
                            <span class="user">Tyler Baggs:</span>
                            Can't Wait! Had Beans Beans and More (Beans) on repeat since I found you guys on Spotify!
                        </li>
                        <li>
                            <span class="user">Doctor Fred:</span>
                            My favourite band ahhhhh I love you guys not long now
                        </li>

                        <li>
                            <span class="user">Adult Man:</span>
                            Can you please sign my CD? Please? I just need it signed it's the only thing I want in life is this
                            band's signature on my CD I need it now please. Thanks guys, kind regards.
                        </li>
                        <li>
                            <span class="user">Stella Peterson:</span>
                            We missed out last year, you guys are definitely my fav underground group right now. Better be good.
                        </li>
                        <li>
                            <span class="user">Dave Dunkley:</span>
                            EEEEEEEEEEEEEKK #1 FAN AAHHHHHH I AM GEORGE
                        </li>
                    </ul>


                </div>
                <div class="col-md-6 col-sm-12">
                    <h2 style="color: darkred; text-decoration: underline; overflow:auto;">Write a Comment</h2>
                    <div class="container">
                        <form action="action_page.php">
                            <div class="row">
                                <div class="col-75">
                                    <textarea id="subject" name="subject" placeholder="Share your thoughts.." style="height:371px; "></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <a class=" btn" style="background-color:darkred; text-align:center;
                                        color:white; font-size:40px; border-radius:10px;">POST</a>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

</body>
</html>



<!-- <form>
    <div class="row" style="margin-left:50px; margin-right: 50px;">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Clay">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email Address</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Home Address</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="123 fake st city">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="Harvey">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="04 12345689">
            </div>

            <button type="submit" class="btn btn-primary" style="width:100%;">Submit</button>
        </div>


    </div>
</form>
