{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index_style.css') }}" />
{% endblock head %}

<body class="body">
{% block content %}   <!-- The navigation menu -->
    <div class="heading-container" style="background-image: url(static/img/image_1.png); min-height:300px">
        <div class="slogan">
            <p>Share Your Sound, Create a Night to Remember!</p>
            <p style="text-align: right; font-size: 60px; color: crimson">LOCAL SPOTLIGHTS</p>
        </div>
    </div>
    <div class="text-box">
        <h2 style="text-decoration: underline; text-align: center; margin-top: 10px;">
            What is Local Spotlights?
        </h2>
        <p style="margin-left: 10px; margin-right: 10px; font-family: Azeret Mono">
            Are you an aspiring artist looking to share your sound? Maybe you're in a garage band ready to step out and
            into the world of live performance? Local Spotlights gives bands, singer-songwriters, and other musical performers big or small a perfect place
            to create and promote their own events. You can look for events based on your interests and location, or create your own!
        </p>
    </div>

    <img src="static/img/gif_2.gif" style="width:210px; margin-left: 600px; height: 150px;" />

    <div class="main-container" style="border-top-right-radius:10px;">
        <div class="wrapper">
            <div class="navbar">
                <div style="font-size: 30px; text-decoration:underline; color: white; margin-left: 20px; ">Browse Events</div>
               <form method="get" action="{{ url_for('event.index')}}">
                <div class="subnav">
                    <!-- <form method="get" action="{ url_for('event.show') }}"> -->
                    <button class="subnavbtn">Genre <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <!-- ADD PROPER FILTERS USING THE FORMS -->
                        {% for genre, genre_label in [('rock', 'Rock'), ('metal', 'Metal'), ('pop', 'Pop'),
                        ('blues/jazz','Blues/Jazz'), ('country', 'Country'),('alternative','Alternative')] %}
                        <label class="container" style="padding-left:20px; padding-bottom: 2px;">
                            <input type="checkbox" style="font-family:Azeret mono; color: black;" name="genres" value="{{ genre }}"
                            {% if genre in selected_genres %}checked{% endif %}
                            onchange="this.form.submit()" />
                            {{genre_label}}
                            <span class="checkmark"></span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
               <div class="subnav">
                    <button class="subnavbtn">Location<i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <input type="text" style="font-family:Azeret mono; padding-right:20px; color: black;" name="location" placeholder="Location..." value="{{ location }}">
                        <button type="submit" style="font-family: Azeret mono; color: white;" class="btn">Search</button>
                    </div>
               </div>
               <div class="subnav">
                    <button class="subnavbtn">Date<i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <input type="date" style="font-family: Azeret mono; color: black; padding-left: 20px !important; padding-right: 20px !important; " name="date" placeholder="" value="{{date}}">
                        <button type="submit" style="font-family:Azeret mono; color: white;" class="btn">Search</button>
                    </div>
               </div>
            </form>
        </div>
   </div>

        <div class="container">
            <div class="card-group">
                <div id="event-container" class="row d-flex">
                    {% for event in events %}
                    <div style="min-width:300px;" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="card" style="border-radius:10px; height:500px;" >
                            <img class="card-img-top" src="{{event.img}}" alt="event image">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{event.artist}}</h5>
                                <h6>{{event.status}}</h6>
                                <p class="card-text">{{event.description}}</p>
                                <a href="{{url_for('event.show', id=event.id)}}" class="btn btn-danger">View Details</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('input[name="genres"]').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                this.form.submit();
            });
        });

    </script>
        {% endblock %}
</body>