{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/booked_event_style.css') }}" />
{% endblock head %}

<body class="body">
    {% block content %}

    <div class="main_container">
        <div style="font-size: 40px; text-decoration: underline; text-align: center; color:white;
        margin-bottom:25px;">Booked Events</div>
        {% for order, event in order_event_info %}
  
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <img style="max-height: 500px; max-width: 100%; margin-top: 10px;padding:20px; " src="{{event.img}}" alt="event image">
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="padding-left:20px; padding-right:20px; margin:5px;">
                        <h2 style="text-decoration:underline;">{{event.artist}}</h2>
                        <div class="Venue"><p> Venue: {{event.venue}} </p> </div>
                        <div class="price"><p> Genre: {{event.genre}} </p> </div>
                        <div class="date"><p> Venue: {{event.date.strftime('%d-%b-%Y')}} </p> </div>
                        <a class="details" style="margin:10px;font-size:20px;padding-left:20px; padding-right:20px;" href="{{url_for('event.show', id=event.id)}}">Event Details</a>
                    </div>
                    <div class="col-md-3 col-sm-12" style="padding-left:20px; padding-right:20px; margin-bottom:20px;">
                        <h2 style="color: black; text-decoration: underline;">Order Details: </h2>
                        <div class="Order Date"><p>Date: {{ order.order_date.strftime('%d-%b-%Y') }} </p></div>
                        <div class="orderID"><p>OrderID: {{ order.id }}</p> </div>
                        <div class="Tickets Booked"><p>Tickets Booked: {{ order.ticket_quantity }}</p> </div>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
        
        </div>
    {% endblock content %}
</body>
