{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block head %}
<head>
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/create_event_style.css') }}" />
</head>
{% endblock head %}

<body class="body">
    {% block content %}

    <div class="row" style="margin: 50px 70px 100px 70px; background-color: darkred; border-radius: 10px;">
        <h1 style="color: white; text-decoration: underline; text-align: center; margin-top:30px;">Event Creator</h1>
        <div class="col-md-7">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <h1>Create Event</h1>
                                <!--Create event form -->
                                {{render_form(form)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="height: 50%;">
            <div class="container">
                <img id="imgDefault" src="{{url_for('static', filename= 'img/placeholder.png')}}" style="width:90%; height:auto; padding-top: 30px; margin-left:auto; margin-right: auto; display:block" />
            </div>
        </div>
        <div class="row" style="margin-left:auto; margin-right: auto;
         margin-top:25px; display: block; margin-bottom: 50px;">
        </div>
    </div>

    {% endblock content %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('img').addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('imgDefault').src = e.target.result;
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
</body>

