{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block head %}
<head>
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/create_event_style.css') }}" />
</head>
{% endblock head %}

<body class="body">
    {% block content %}

    <div class="row" style="margin: 50px 70px 100px 70px; background-color: darkred; border-radius: 10px;">
        <h1 style="color: white; text-decoration: underline; text-align: center; margin-top:30px;">Event Creator</h1>
        <div class="col-md-7">
            <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <h1>Create Event</h1>
                                        {{render_form(form)}}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <img src="{{url_for('static', filename= 'img/placeholder.png')}}" style="width:90%; height:auto; padding-top: 30px; margin-left:auto; margin-right: auto; display:block" />
                <form action="/action_page.php" style="margin-bottom: 25px;">
                    <label for="img">Select an image for your event:</label>
                    <input type="file" name="img" accept="image/*">
                </form>
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="description">Description</label>
                        </div>
                        <div class="col-md-12">
                            <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-left:auto; margin-right: auto;
         margin-top:25px; display: block; margin-bottom: 50px;">
            <input type="submit" value="CREATE">
        </div>
    </div>

    {% endblock content %}
</body>
</html>
