{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/event_details_style.css')}}" />
{% endblock head %}

    {% block content %}
    <!-- Event Details -->
    <div style="margin:50px 50px 50px 50px;">
        <div class="container-fluid">
            <h1 style="color:darkred; text-decoration: underline; ">{{event.artist}} performing live!</h1>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="{{event.img}}" style="width:100%; border: 5px solid black; border-radius: 10px" />
                    <div class="container-fluid">
                        <h1 style="color: darkred; text-decoration: underline;">Event Description</h1>
                        <h3>{{event.description}}</h3>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 style="color: darkred; text-decoration: underline;">DETAILS</h1>
                                <h2 >Venue</h2>
                                <h3>
                                    {{event.venue}}
                                </p>
                                <h2 style="color: darkred; text-decoration: underline;">Time</h2>
                                <p>
                                    {{event.start_time}}
                                </p>
                                <h2 style="color: darkred; text-decoration: underline;">Date</h2>
                                <p>
                                    {{event.date}}
                                </p>
                                <h2 style="color: darkred; text-decoration: underline;">Opening Bands</h2>
                                <p>
                                    Dog Pants Deluxe
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <h1 style="color: darkred; text-decoration: underline;">TICKETS</h1>
                                <h2>Status</h2>
                                <h3>
                                    {{event_status.status}}
                                </h3>
                                <h2>Availability</h2>
                                <h3>
                                    {{event_status.tickets_available}}
                                </h3>
                                <h2>Price</h2>
                                <h3>
                                    ${{event.ticket_price}}
                                </h3>

                            </div>
                            {% if event_status.status in ['Cancelled', 'Sold Out', 'Inactive'] %}
                            <button class="disabled-button" disabled style="text-align:center; font-size:40px; border-radius:10px;">No Tickets Available</button>
                            {% else %}
                            <a href="{{ url_for('event.booking', id=event.id) }}" style="background-color:darkred; text-align:center;
                                color:white; font-size:40px; border-radius:10px;">BOOK TICKETS HERE!</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comments -->
            <div class="row" style="margin-bottom:50px;">
                <div class="col-md-6 col-sm-12">
                    <div style="margin-left:10px;">
                        <h2 style="color: darkred; text-decoration: underline; overflow:auto;">See What People Are Saying!</h2>
                        <div style="background-color:white; border-radius:10px; padding:20px; font-family:azeret mono;">
                            {% for comment in event.comments %}
                            <b>{{comment.user.name}} <span class="ml-2 text-muted">{{comment.created_at.strftime('%d-%m-%Y %H:%M')}}</span></b>
                            <p>{{comment.text}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div style=""class="col-md-6 col-sm-12 ">
                    {{render_form(form, url_for('event.comment', id=event.id))}}
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
